body {
    font-family: Arial, Helvetica, sans-serif;
    background:#004d00; 
    font-size: 20px; 
    margin: 0px;
    color: black;
    text-align: justify;
}

h1{
    color: #000000;
    text-align: center;
    background-color: #FFD700;
    font-family: Ink free;
    font-size: 30pt;
    border: 3px solid #000000;
    margin: 0%;
    height: 100px;
}

 .ordem{
   text-align: left;
   font-size: 28px;
   vertical-align: top;
   margin-top: 5px;
   margin: 10px;
   color: black;
   font-family: Ink free;
        
}
   h2{
    color: #000000;
    text-align: left;
    font-family: Arial;
    font-size: 20pt;
    margin-left: 10px;
}

 .inicio{
    text-align: left;
    font-size: 28px;
    vertical-align: top;
    margin-top: 0px;
    margin: 0px;
    color: black;
   
}